body {
  font-family: "Pathway Extreme", sans-serif;
  padding: 3rem;
}

.spacer-top,
.spacer-bottom {
  display: flex;
  height: 100vh;
}

.main {
  display: flex;
  gap: 1.5rem;
}

.start-container {
  flex-basis: 50%;
  height: 15rem;
  background-color: beige;
  padding: 1.5rem;
  border-radius: 1rem;
}

.end-container {
  flex-basis: 50%;
  height: 60rem;
  background-color: burlywood;
  padding: 1.5rem;
  border-radius: 1rem;
}
